/* GLOBAL VALUES */

* {
    margin: 0;
    padding: 0;
}


.hero-page,
.tourist-spot {
    padding: 0px 300px 0px;

}

/* NAVBAR */

.top-nav {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 20px 300px 0px;
}

.nav-logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    gap: 80px;
}

.nav-links ul li {
    font-size: 18px;
    color: #e5e7eb;
}

/* HERO PAGE */

.hero-page {    
    color: #f9faf8;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.hero-intro {
    width: 40%;
}

.hero-intro h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding-bottom: 20px;
}

.hero-intro p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 20px;
}

.hero-intro button {
    padding: 8px 30px 8px;
    border: none;
    background-color: #3882f6;
    color: white;
}

/* TOURIST SPOT */

.tourist-spot {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tourist-intro h1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 50px;
}

.tourist-imgs {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.tourist-imgs div{
    width: 200px;
    text-align: center;
}

.tourist-imgs div img{
    height: 180px;
    width: 100%;
    border-radius: 25px;
    border: 3px solid #3882f6;
    margin-bottom: 7px;
}

.tourist-imgs div p{
    font-size: 18px;
}