* {
    margin: 0;
    padding: 0;
}

.hero-page {
    padding: 0px 300px 0px;
    background-color: #1f2937;
}

.top-nav {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 20px 300px 0px;
    border: 2px solid red;
}

.nav-logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    gap: 80px;
}

.nav-links ul li {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-page {    
    border: 2px solid red;
    color: #f9faf8;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-intro {
    width: 40%;
}

.hero-intro h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding-bottom: 20px;
}

.hero-intro p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 20px;
}

.hero-intro button {
    padding: 8px 30px 8px;
    border: none;
    background-color: #3882f6;
    color: white;
}